

.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: rgb(233, 184, 230);
  height: 100vh;
  text-align: center;
  font-family: serif;
  color:rgb(233, 184, 230);
}

.form{
  grid-column: 1/7;
  grid-row: 1/11;
  background-color: rgb(70, 11, 70);
  margin-right: 10px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.display{
  grid-column: 7/13;
  grid-row: 1/11;
  background-color: rgb(70, 11, 70);
  margin-left: 10px;
  margin-right: 20px;
}

.input{
  background-color: rgb(233, 184, 230);
  color: rgb(70, 11, 70);
  font-family: serif;
  font-size: 14px;
  font-weight: bold;
}

.breaks{
  border: 3px solid rgb(188, 131, 202);
}

.dreamCatcher{
  width: 5%;
}
